@model IEnumerable<PediatriYonetimi.Models.Randevu>

<h2>Randevularım</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Öğretim Üyesi</th>
            <th>Başlangıç</th>
            <th>Bitiş</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.RandevuMusaitlikDurumu.OgretimUyesi.Ad @randevu.RandevuMusaitlikDurumu.OgretimUyesi.Soyad</td>
                <td>@randevu.RandevuMusaitlikDurumu.BaslangicSaati</td>
                <td>@randevu.RandevuMusaitlikDurumu.BitisSaati</td>
                <td>
                    <form asp-action="RandevuSil" asp-route-id="@randevu.Id" method="post" onsubmit="return confirm('Bu randevuyu silmek istediğinize emin misiniz?');">
                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
